In [2]:
import pandas as pd
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
a = [1, 7, "Nil"]

myvar = pd.Series(a)

print(myvar)

myvar1 = pd.Series(a,index=["A","B","C"])

print(myvar1)

0      1
1      7
2    Nil
dtype: object
A      1
B      7
C    Nil
dtype: object

In [4]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [5]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
product_ID=["A","B","C"]
#load data into a DataFrame object:
df = pd.DataFrame(data,index=product_ID)
df

   calories  duration
A       420        50
B       380        40
C       390        45

In [6]:
df

   calories  duration
A       420        50
B       380        40
C       390        45

In [7]:
df.head(2)

   calories  duration
A       420        50
B       380        40